<a name="<%= widget[:name] %>"></a>
<dt>
  <%= %|Widget "#{widget[:name].capitalize}"| %>
</dt>
<dd class="preview">
  <%= render :file => widget[:filename] %>
</dd>
<dd>
  <div class="location"><%= widget[:filename] %></div>
  <pre><code class="lang-<%= widget[:lang] %>"><%= widget[:contents] %></code></pre>
</dd>
